food-delivery-whatsapp-workflow.json
{
  "name": "Food Delivery Order Status - WhatsApp Notifications",
  "nodes": [
    {
      "parameters": {
        "path": "order-status-update",
        "options": {}
      },
      "id": "be84c2a2-3ab9-4747-a4ec-bd93ff108e1f",
      "name": "Order Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -496,
        208
      ],
      "webhookId": "order-status-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "status-received",
                    "leftValue": "={{ $json.orderStatus }}",
                    "rightValue": "order_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Order Received"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "status-processing",
                    "leftValue": "={{ $json.orderStatus }}",
                    "rightValue": "in_process",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "In Process"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "status-dispatched",
                    "leftValue": "={{ $json.orderStatus }}",
                    "rightValue": "dispatched",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dispatched"
            }
          ]
        },
        "options": {}
      },
      "id": "29d14a13-f032-4c76-bae6-c55a0f7d9c59",
      "name": "Check Order Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/={{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "recipient_type",
              "value": "individual"
            },
            {
              "name": "to",
              "value": "={{ $json.customerPhone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": {
                "name": "order_received",
                "language": {
                  "code": "en"
                },
                "components": [
                  {
                    "type": "body",
                    "parameters": [
                      {
                        "type": "text",
                        "text": "={{ $json.customerName }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.orderId }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.orderItems }}"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8f734b40-2beb-4381-9053-d31c46be8ed3",
      "name": "Send WhatsApp - Order Received",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "notes": "Template message: 'Hi {{1}}, we've received your order #{{2}} for {{3}}. We're preparing it now!'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/={{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "recipient_type",
              "value": "individual"
            },
            {
              "name": "to",
              "value": "={{ $json.customerPhone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": {
                "name": "order_in_process",
                "language": {
                  "code": "en"
                },
                "components": [
                  {
                    "type": "body",
                    "parameters": [
                      {
                        "type": "text",
                        "text": "={{ $json.customerName }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.orderId }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.estimatedTime }}"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "efee3532-74dd-44d2-aa23-3ac5daac28f3",
      "name": "Send WhatsApp - In Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        208
      ],
      "notes": "Template message: 'Hi {{1}}, your order #{{2}} is being prepared by our kitchen! Estimated time: {{3}} minutes.'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/={{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "recipient_type",
              "value": "individual"
            },
            {
              "name": "to",
              "value": "={{ $json.customerPhone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": {
                "name": "order_dispatched",
                "language": {
                  "code": "en"
                },
                "components": [
                  {
                    "type": "body",
                    "parameters": [
                      {
                        "type": "text",
                        "text": "={{ $json.customerName }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.orderId }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.driverName }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.driverPhone }}"
                      },
                      {
                        "type": "text",
                        "text": "={{ $json.trackingLink }}"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dfaba6b7-5426-4960-9ee8-aeed113bca5f",
      "name": "Send WhatsApp - Dispatched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        400
      ],
      "notes": "Template message: 'Hi {{1}}, your order #{{2}} is on its way! Driver: {{3}} ({{4}}). Track your order: {{5}}'"
    }
  ],
  "pinData": {},
  "connections": {
    "Order Status Webhook": {
      "main": [
        [
          {
            "node": "Check Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order Status": {
      "main": [
        [
          {
            "node": "Send WhatsApp - Order Received",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp - In Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp - Dispatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e30d480-2620-4000-9249-4c02091e52f3",
  "meta": {
    "instanceId": "4f4535e8d248d1424cf650db8fca17eb15e03c8f3f884159d85b920de9faf070"
  },
  "id": "Ljsagw2MJDU7VHUq",
  "tags": []
}